doctype html
html
  head
    title Socket.IO homework

  //link(rel="stylesheet", type="text/css", href="style.css") //fail
  style.
      body {
          font: 13px Helvetica, Arial;
      }

      .code_show {
        width: 100px;
        height: 30px;
      }

      .btn_code {
          cursor: pointer;
          background-color: #dddddd;
          margin: 5px;
          display: none;

      }

      .code_sent{
          display: none;
      }

      nav {
          display: none;
      }

      .error {display:none;}

      .b_left, .b_right {
          cursor: pointer;
          border: 1px solid black;
          margin: 5px;
          float: left;
          width: 40%;
      }

      .ball {
          width: 200px;
          height: 200px;
          background-color:red;
          border-radius: 100px;
          margin:50px 0 0 0;
      }

      @media screen and (max-width:400px){
          nav, .code_show, .ball{
              display:none;
          }
          .code_sent, .btn_code, .error{
              display:block;
          }
      }

  script(src="/socket.io/socket.io.js")
  // script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script.
    var socket = io();
    $(function(){
      $('.btn').click(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
      });

      //примем код сокета, выданный сервером при соединении
      socket.on('sock_code',function(data){
          $('.code_show').text(data);
      })

      $('.btn_code').click(function(){ //отсылаем код на проверку
         socket.emit('code',{code: $('#cd').val(),selfcode:$('.code_show').text()});
         console.log('click on btn_code');
      });

      socket.on('code', function(data){ //ответ на code-запрос
        console.log('code back');
        if (data === 'ok'){
            $('nav').css('display','block');//открываем навигацию
            $('.code_sent').css('display','none');//скрываем поле ввода кода
            $('.error').css('display','none');//скрываем поле ошибок
        } else {
            $('.error').html('Код неверный. Попробуйте еще раз.');
        }
      });

      //назначим обработчики навигационных кликов - генерируем события
      $('.b_right').click(function(){
        socket.emit('move',{selfcode:$('.code_show').text(),moving:'+=10px'})
      });

      $('.b_left').click(function(){
        socket.emit('move',{selfcode:$('.code_show').text(),moving:'-=10px'})
      });

      socket.on('move',function(data){//обрабатываем команду на перемещение
        $('.ball').css({'margin-left':data});
        console.log('movind '+data);
      });

    })

  body
    .code_show(contenteditable="true") Код страницы:
    //"форма" отправки кода
    .code_sent Введите код целевой страницы:
        input#cd(autocomplete="off")
        .btn_code Отправить код
    .error

    nav
      .b_left <- Налево
      .b_right Направо ->

    //Объект манипуляций
    .ball