body {
  font: 13px Helvetica, Arial;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
.btn_code {
  cursor: pointer;
  background-color: #dddddd;
  margin: 5px;
}
.code_show {
  width: 100px;
  height: 30px;
}
nav {
  display: none;
}
.b_left,
.b_right {
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
  float: left;
  width: 40%;
}
